* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: var(--mantine-color-text);
  background-color: var(--mantine-color-body);
}

body {
  min-height: 100vh;
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
}

#root {
  min-height: 100vh;
}
